# {{ ansible_managed }}

LoadPlugin tcpconns  
LoadPlugin mysql

<Plugin tcpconns>
	ListeningPorts false
	LocalPort "3306"
</Plugin>
 
<Plugin "mysql">
{% for item in collectd_mysql %}
    <Database "{{ item.database }}">
        Database "{{ item.database }}"
        User "{{ item.user }}"
        Password "{{ item.password }}"
{% if ansible_os_family == "Debian" %}
        Socket "/var/run/mysqld/mysqld.sock"
{% else %}
        Socket "/var/lib/mysql/mysql.sock"
{% endif %}
{% if item.masterslave %}
    {% if item.dbmaster is defined %}
	MasterStats true
    {% else %}
        SlaveNotifications true
        SlaveStats true
    {% endif %}
{% endif %}
    </Database>
{% endfor %}
</Plugin>
