# {{ ansible_managed }}

LoadPlugin tcpconns  
LoadPlugin mysql

<Plugin tcpconns>
	ListeningPorts false
	LocalPort "3306"
</Plugin>
 
<Plugin "mysql">
    <Database "{{ collectd_mysql_database }}">
        User "{{ collectd_mysql_user }}"
        Password "{{ collectd_mysql_password }}"
{% if ansible_os_family == "Debian" %}
        Socket "/var/run/mysqld/mysqld.sock"
{% else %}
        Socket "/var/lib/mysql/mysql.sock"
{% endif %}
{% if collectd_has_masterslave %}
    {% if collectd_dbmaster is defined %}
	MasterStats true
    {% else %}
        SlaveNotifications true
        SlaveStats true
    {% endif %}
{% endif %}
    </Database>
</Plugin>
