# {{ ansible_managed }}

<Plugin write_graphite>
  <Carbon>
    Host "{{ collectd_graphite_hostname }}"
    Port "{{ collectd_graphite_port }}"
    Prefix "{{ collectd_graphite_host_environment }}."
    Postfix ".collectd"
    Protocol "tcp"
  </Carbon>
</Plugin>
