# {{ ansible_managed }}


LoadPlugin write_graphite

<Plugin write_graphite>
  <Carbon>
    Host "{{ graphite_hostname }}"
    Port "{{ graphite_port }}"
    Prefix "{{ graphite_host_environment }}."
    Postfix ".collectd"
    Protocol "tcp"
  </Carbon>
</Plugin>
